:root {
	--main-bg: #1e1414;
	--main-bg-primary: rgba(154, 154, 162, 0.4);
	--btn-primary: #ff536b;
	--btn-secondary: #5581ff;
	--txt-primary: #ececec;
	--txt-secondary: rgba(236, 236, 236, 0.8);
	--txt-third: rgba(236, 236, 236, 0.4);
}

body {
	font-family: "Poppins", sans-serif;
	position: relative;
	background: var(--main-bg);
	color: var(--txt-primary);
	padding: 0;
	margin: 0;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

button {
	cursor: pointer;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.hidden {
	display: none;
}

.container {
	box-sizing: border-box;
	max-width: 1440px;
	padding: 0 104px;
	margin: 0 auto;
}

.swiper,
.swiper-1,
.swiper-2 {
	width: 1526px;
	height: 280px;
}