/* header */
.header {
	position: relative;
}

.header_container {}

.header_nav {
	position: absolute;
	top: 32px;
	left: 50%;
	transform: translateX(-50%);
}

.header_nav_list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 80px;
}

.header_nav_item {}

.header_nav_link {
	display: block;
	font-weight: 500;
	font-size: 20px;
	line-height: 120%;
	text-align: center;
	padding: 16px 24px;
	color: var(--txt-primary);
}

/* hero */

.hero {}

.hero .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 60px;
	padding-top: 150px;
}

.logo {}

.logo_text {}

.logo_side {}

.hero_title {}

.hero_text {}

.hero_btn {}

.hero_text_remaining {}

.carousel_block {}

.carousel_list {}

.carousel_row {}

.carousel_row_list {}

.carousel_row_item {}

.carousel_item_link {}

.carousel_item_img {}