/* header */
.header {
	position: relative;
}

.header_container {}

.header_nav {
	position: absolute;
	top: 32px;
	left: 50%;
	transform: translateX(-50%);
}

.header_nav_list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 80px;
}

.header_nav_item {}

.header_nav_link {
	display: block;
	font-weight: 500;
	font-size: 20px;
	line-height: 120%;
	text-align: center;
	padding: 16px 24px;
	color: var(--txt-primary);
}

/* hero */

.hero {}

.hero .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 60px;
	padding-top: 150px;
}

.logo {}

.logo_text {}

.logo_side {}

.hero_title {}

.hero_text {}

.hero_btn {}

.hero_text_remaining {}

.carousel_block {
	border-radius: 24px;
	border: 1px solid salmon;
	padding: 24px 0px 60px 0px;
	width: 1232px;
	height: 1088px;
	background: rgba(172, 172, 172, 0.2), rgba(213, 213, 213, 0.3), radial-gradient(62.23% 62.23% at 60.43% 73.72%, #fffefe 0%, rgba(255, 255, 255, 0) 100%);
	overflow: hidden;
}

/*.carousel_list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 280px;
}

.carousel_row {}

.carousel_row_list {
	display: flex;
	align-items: center;
	justify-content: center;
}

.carousel_row_item {
	display: block;
	border-radius: 8px;
	width: 394px;
	height: 280px;
	background: rgba(154, 154, 162, 0.4);
	padding: 24px;
	object-fit: cover;
}

.carousel_item_link {}

.carousel_item_img {
	display: block;
	max-width: 100%;
	object-fit: fill;
}*/