/* header */
.header {
	position: relative;
}

.header_container {}


.header_nav {
	position: absolute;
	top: 32px;
	left: 50%;
	transform: translateX(-50%);
}

.header_nav_list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 80px;
}

.header_nav_item {}

.header_nav_link {
	display: block;
	font-weight: 500;
	font-size: 20px;
	line-height: 120%;
	text-align: center;
	padding: 16px 24px;
	color: var(--txt-primary);
}

/* hero */

.hero {
	position: relative;
}

.hero .container {
	position: relative;
	padding-top: 90px;
	background-image:
		url('../images/Hero.svg'),
		url('../images/Hero.png'),
		linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
		url('../images/Pattern.png');
	background-repeat: no-repeat, no-repeat, no-repeat, repeat;
	background-size: cover, cover, cover, cover;
	z-index: 200;
}

/*.hero .container::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
		url('../images/Pattern.png');
	background-repeat: no-repeat;
	overflow: hidden;
}*/


.hero_text_block {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 32px;
	width: 1016px;
	margin: 60px auto;
}


.logo {}

.logo_img {
	display: block;
	padding: 0;
	margin: 0;
}


.hero_title {
	font-weight: 600;
	font-size: 64px;
	line-height: 125%;
	text-align: center;
	color: var(--txt-primary);
}

.hero_text {
	font-weight: 400;
	font-size: 36px;
	line-height: 136%;
	text-align: center;
	color: var(--txt-secondary);
	width: 800px;
}

.hero_btn {
	display: block;
	border-radius: 100px;
	padding: 16px 24px;
	width: 202px;
	text-align: center;
	color: var(--txt-primary);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
	background: linear-gradient(305deg, #ff536b 0%, rgba(255, 83, 107, 0.58) 100%);
}

.hero_text_remaining {}

.carousel_block {
	border-radius: 24px;
	border: 1px solid salmon;
	padding: 24px 0px 60px 0px;
	width: 1232px;
	height: 1088px;
	background: rgba(172, 172, 172, 0.2), rgba(213, 213, 213, 0.3), radial-gradient(62.23% 62.23% at 60.43% 73.72%, #fffefe 0%, rgba(255, 255, 255, 0) 100%);
	overflow: hidden;
}

.carousel_list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 24px;
}

.carousel_row {}

.carousel_row_list {
	/*display: flex;
	align-items: center;
	justify-content: center;*/
}

.carousel_row_item {}

.carousel_item_link {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	width: 394px;
	height: 280px;
	overflow: hidden;
	padding: 0;
}

.carousel_item_img {
	display: block;
	/*width: 394px;
	height: 280px;*/
	object-fit: fill;
	overflow: hidden;
}

.hero_link {
	display: block;
	font-weight: 600;
	font-size: 18px;
	line-height: 120%;
	text-align: center;
	color: var(--txt-primary);
	border-radius: 100px;
	padding: 16px 24px;
	width: 219px;
	height: 56px;
	background: var(--main-bg-primary);
	margin: 60px auto;
}

/* proposals */

.propoasals {}


.propoasals .container {
	/*z-index: 100;*/
	position: relative;
	background-image:
		url('../images/Proposals-bg.png'),
		url('../images/Stars.png');
	background-repeat: no-repeat;
	/*background-size: contain;*/
	background-position: 50% 0;
	overflow: hidden;
}

.propoasals .container::before {
	content: "";
	position: absolute;
	z-index: 500;
	top: -60%;
	left: 0;
	width: 100%;
	height: 100%;
	background-image:
		url('../images/Blue.png');
	background-repeat: no-repeat;
}


.proposals_header {
	position: relative;
	z-index: 10;
	margin-top: 80px;
	max-width: 1200px;
	padding: 40px 0;
	margin: 0 auto;
	margin-bottom: 240px;
	margin-top: 80px;
}

.prop_header_text {
	font-weight: 700;
	font-size: 24px;
	line-height: 100%;
	text-align: center;
	color: var(--txt-primary);
	margin-bottom: 40px;
}

.prop_header_list {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.prop_header_item {}

.prop_header_item_link {}

.prop_header_item_img {}

.prop_title {
	font-weight: 700;
	font-size: 48px;
	line-height: 133%;
	text-align: center;
	color: var(--txt-primary);
	margin-bottom: 16px;
}

.prop_text {
	font-weight: 400;
	font-size: 24px;
	line-height: 133%;
	text-align: center;
	color: var(--txt-primary);
	max-width: 840px;
	margin: 0 auto;
	margin-bottom: 120px;
}

.prop_list {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 24px;
}

.prop_list_item {}

.prop_list_item_block {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	border-radius: 24px;
	padding: 24px;
	width: 384px;
	height: 376px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(40px);
	background:

		radial-gradient(145.31% 96.49% at 50% 77.59%, rgba(72, 96, 203, 0.35) 0%, rgba(255, 255, 255, 0) 100%),
		rgba(210, 210, 210, 0.05);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
}

.prop_list_item_img {
	margin-bottom: 48px;
}

.prop_list_item_title {
	font-weight: 700;
	font-size: 24px;
	line-height: 100%;
	text-align: center;
	color: var(--txt-primary);
	margin-bottom: 16px;
}

.prop_list_item_text {
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;
	text-align: center;
	color: var(--txt-secondary);
}